!!!  
%html  
  %head  
    %title My Sinatra Website  
  %body  
    %h1 Cambridge Systematics OneClick  
    %p  
      QA Helper version 1.5
      -# = Here we should try to leverage some git information about the most recent tag
      -# = if at all possible.  Can we make this index.haml.erb?
