<html>
	<head>
		<title>OneClick QA Helper</title>
	</head>
	<body>
		<h1>Cambridge Systematics OneClick</h1>
		<p>QA Helper <%= get_git_version %></p>
		<p>Branch <%= get_git_branch %></p>
	</body>
</html>
